/* || General styles */
body {
    background-color: black;
    /* padding-bottom: 30px; */
    color: whitesmoke;
    font-family: monospace;
    /* padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px; */
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #56FCFD;
    font-weight: bold;
    text-align: center;
}

/* || Header and Main Navigation */

/* || Game Board Grid Styling */


.grid {
    width: 40vw;
    height: 30vw;
    display: flex;
    flex-wrap: wrap;
    margin: 2vw auto;
    background-color:  #404044;
    border: double 10px #61FAA4;
    border-radius: 5px;

    -webkit-box-shadow: 0px 0px 20px 3px whitesmoke;
    -moz-box-shadow: 0px 0px 20px 3px whitesmoke;
    box-shadow: 0px 0px 20px 3px whitesmoke;
}

.square {
    width: 1vw;
    height: 1vw;
    background-color: red;
    border-radius: 10px;
    border-color: #303030;
    /* float: left; */
}